<!DOCTYPE html>
<html>
<head>
    <title>VoteInsight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home-body">

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">
    📊 <span class="logo-main">Vote</span><span class="logo-highlight">Insight</span>
</div>

    <div class="nav-links">
        <a href="/login">Login</a>
        <a href="/register" class="signup">Sign Up</a>
    </div>
</div>

<!-- HERO -->
<div class="hero">

    <!-- LEFT -->
    <div class="hero-text">
        <h1>Smart Election Analytics</h1>
        <p>
            Predict election outcomes using probability, statistics and AI.
            Conduct secure voting from anywhere in the world.
        </p>

        <a href="/register" class="btn-main">🚀 Start Election</a>
    </div>

    <!-- RIGHT (PHONE UI) -->
    <div class="phone">
        <div class="screen">

            <h3>🗳️ Vote</h3>

            <div class="candidate-box">
                A <button>Vote</button>
            </div>

            <div class="candidate-box">
                B <button>Vote</button>
            </div>

            <div class="candidate-box">
                C <button>Vote</button>
            </div>

        </div>
    </div>

</div>

</body>
</html>
